body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #020203;
    color: #1b6191;
}

header {
    background-image: url('path/to/your/image.jpg'); /* Adicione uma imagem de fundo apropriada */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #0d1961;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #ee1616;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    background-image: url('path/to/your/banner-image.jpg'); /* Adicione uma imagem de fundo apropriada */
    background-size: cover;
    color: white;
    padding: 5em 0;
    text-align: center;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

.destinations-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.destination {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .destinations-grid {
        flex-direction: column;
    }

    nav ul li {
        display: block;
    }
}